<p><%= @store.name %></p>
<p><%= @store.address %></p>
<p><%= @store.address2 %></p>
<p><%= @store.city %></p>
<p><%= @store.state %></p>
<p><%= @store.zip %></p>
<p><%= @store.country %></p>
<p><%= @store.phone %></p>
<p><%= @store.website %></p>
<p><%= @store.uuid %></p>